<div class="row mt-4">
  <div class="col-md-12">
    <h3>Create Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <input class="form-control" type="text" id="post-title" name="post-title" placeholder="Title"/>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="post-desc" name="post-desc" placeholder="Enter comment here..."></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger" id="create-post">Create Post</button>
      </div>
    </form>
  </div>
