<div class="row mt-4">
  <div class="col-md-12">
    <h4>Create Post</h4>

    <form class="form new-post-form">
      <div class="form-group">
        <input class="form-control" type="text" id="post-title" name="post-title" placeholder="Give your post a title"/>
      </div>
      <div class="form-group">
        <textarea class="form-control" id="post-desc" name="post-desc" placeholder="What's on your mind?"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger" id="create-post">Create Post</button>
      </div>
    </form>
  </div>

<script src="/js/create.js"></script>