<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title"/>
      </div>
      <div class="form-group">
        <label for="post-desc">description:</label>
        <textarea class="form-input" id="post-desc" name="post-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Post</button>
      </div>
    </form>
  </div>
