
{{!-- main container for page --}}
<div class="container">
    <form>
        {{!-- title of post --}}
        <h2>{{post.title}}</h2>
        {{!-- change title --}}
        <div class="form-group">
            <label for="changeTitle">Change Title</label>
            <input type="text" class="form-control" id="changeTitle" value="{{post.title}}">
        </div>
        {{!-- change content --}}
        <div class="form-group">
            <label for="changeContent">Change Content</label>
            <textarea class="form-control" id="changeContent" rows="3">{{post.content}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary pageBtn" id="update">Update Post</button>
        <button type="submit" class="btn btn-primary delete pageBtn">Delete Post</button>
        <br>
    </form>
</div>

{{!-- javascript connection --}}
<script src="/js/updatedelete.js"></script>