<h6 style="color: rgba(255, 89, 89, 0.938)">You must be logged in to CRUD posts or leave comments.</h6>
<hr>
<form class="login-form" style="max-width: 375px">
  <h4>Login</h4>

  <div class="form-group">
    <input type="email" class="form-control" id="email-login" placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password-login" placeholder="Password">
  </div>
    <div class="form-group">
  <button type="submit" class="btn btn-danger">Login</button>
  </div>
</form>
<br>
<form class="signup-form" style="max-width: 375px">
  <hr>
  <h4>Signup</h4>

  <div class="form-group">  
    <input type="text" class="form-control" id="name-signup" placeholder="Enter name">
  </div>
  <div class="form-group">  
    <input type="email" class="form-control" id="email-signup" placeholder="Enter email">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="password-signup" placeholder="Enter password">
  </div>
  <div class="form-group">
  <button type="submit" class="btn btn-danger">Signup</button>
  </div>
</form>

<script src="./js/login.js"></script>
