{{!-- main container for page --}}
<div class="container">
    <form>
        {{!-- change title --}}
        <div class="form-group">
            <h4>Title</h4>
            <input type="text" class="form-control" id="changeTitle" value="{{posts.title}}">
        </div>
        {{!-- change content --}}
        <div class="form-group">
            <h4>Description</h4>
            <textarea class="form-control" id="changeDescription" rows="3">{{posts.description}}</textarea>
        </div>
        <br>
        <button type="submit" class="btn btn-danger pageBtn" id="uPost">Update Post</button>
        <br>
    </form>
</div>

{{!-- javascript connection --}}
<script src="/js/update.js"></script>