.navbar {
  color: black !important;
}

.card {
  padding: 5px;
  margin: 10px;
  color: white !important;
  background-color: #dc3545;
}

body {
  cursor: pointer;
  color:black !important;
  text-decoration: none;
  background-color: white;
}

a:hover {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: white;
}


