header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.navbar {
  color: white !important;
}

body {
  cursor: pointer;
  color:black;
  text-decoration: none;
}

a:hover {
  color: green;
  text-decoration: none;
}

