.navbar {
  color: black !important;
}

.card {
  padding: 5px;
  margin: 10px;
  color: white !important;
  background-color: #dc3545;
}

body {
  cursor: pointer;
  color:black !important;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}


.cardLink:hover {
  background-color: rgba(0, 0, 0, 0.733);
  
}

footer {
  margin-top: 50px;
}

