.navbar {
  color: black !important;
}

.card {
  padding: 2px;
  margin: 5px;
  color: white !important;
  background-color: #dc3545;
}

body {
  cursor: pointer;
  color:black !important;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.commentCard {
  background-color: transparent;
  color: black !important;
}

.cardLink:hover {
  background-color: rgba(0, 0, 0, 0.733);
}

footer {
  margin-top: 50px;
}

.form-control {
  margin: 5px 0px 5px 0px;
}